{% extends './layout.html' %} 
{% block style %}{% endblock %}
{% block title %}{{ data.titulo }}{% endblock %}
{% block body %} 
<div class="div_style">
    <header>
        <nav>
            <ul class="ul_menu">
                <li class="li_menu"> <a href="/" class="menu_logo"><img class="menu_img" src="static/icon/libro-abierto.png" alt="Inicio"></a></li>
                <li class="li_menu"><a href="/search"><img class="menu_img" src="static/icon/MagnifyinGlass.svg" alt="Buscar"></a></li>
                <li class="li_menu"><a href="/open"><img class="menu_img" src="static/icon/OpenFolder.svg" alt="Abrir"></a></li>
                <li class="li_menu"><a href="/save"><img class="menu_img" src="static/icon/Diskette.svg" alt="Guardar"></a></li>
            </ul>
        </nav>
    </header>
    <div class="form-table">
        <form action="/search" method="POST">
            <label class="title_msg">Busqueda</label>
            <div class="block_DH">
                <label class="search_msg">Fecha de busqueda</label>
                <label for="date_msg" class="search_label"> Actual/Final:</label>
                <input name="fecha_desde" type="date" class="inpuText" placeholder="dd/mm/aaaa">
                <label for="date_msg" class="search_label">Inicial:</label>
                <input name="fecha_hasta" type="date" class="inpuText" placeholder="dd/mm/aaaa">
            </div>
            <div class="block_DH">
                <label class="search_msg">Hora de busqueda</label>
                <label for="hour_msg" class="search_label">Desde:</label>
                <input name="hora_desde" type="time" class="inpuText" placeholder="hh:mm:ss">
                <label for="hora_hasta" class="search_label">Hasta:</label>
                <input name="hora_hasta" type="time" class="inpuText" placeholder="hh:mm:ss">
            </div>
            <input class="submit" type="submit" placeholder="Inicar busqueda">
        </form>
    </div>
</div>
{% endblock %}