@model Bitacora.Models.ModeloPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModeloPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nota
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            Creación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class="col-sm-2">
            Última modificación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UltimaModificacion)
        <dt class = "col-sm-2">
            Bitácora asociada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitacoraAsociada.NombreDeBitacora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PostID">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
